<!-- login-form.component.html -->
<img src="../../assets/logoEventi.png" alt="Logo" class="logo">

<div class="form-container">
  <h1 class="form-heading">Connexion</h1>

  <form [formGroup]="loginForm" (ngSubmit)="submit()">

    <div class="form-field">
      <label for="email" class="input-label">Email</label>
      <input id="email" placeholder="Email address" formControlName="email" class="styled-input" />
      <div *ngIf="email?.errors?.['required'] || email?.errors?.['email']" class="error-message">
        {{ email?.errors?.['required'] ? 'Email requis' : 'Merci d\'entrer un email valide' }}
      </div>
    </div>

    <div class="form-field">
      <label for="password" class="input-label">Password</label>
      <input id="password" type="password" placeholder="Password" formControlName="password" class="styled-input" />
      <div *ngIf="password?.errors?.['required']" class="error-message">Mot de passe requis</div>
    </div>

    <div class="center margin-top">
      <button type="submit" class="login-button">Connexion</button>
    </div>

    <div class="center margin-top">
      Nouveau sur l'application ? <a class="register-link" routerLink="/register">S'inscrire !</a>
    </div>

  </form>
</div>
