<div class="content">
    <div card-content *ngIf="!editMode">
        <p title>{{event.name}}</p>
        <p>description : {{event.description}}</p>
    </div>
    <div edit-mode *ngIf="editMode">
        <label id="name">Name</label>
        <input [(ngModel)]="event.name" title="name">
        <label id="name">Description</label>
        <input [(ngModel)]="event.description" title="description">
    </div>
    <div button-content>
        <button mat-fab extended color="primary" edit (click)="editMode = true" *ngIf="!editMode">edit</button>
        <button mat-fab extended color="warn" delete (click)="deleteEvent()" *ngIf="!editMode">delete</button>
        <button mat-fab extended color="accent" detail (click)="detailEvent()" *ngIf="!editMode">detail</button>
        <button mat-fab extended color="warn" cancel (click)="updateEvent()" *ngIf="editMode">cancel</button>
        <button mat-fab extended color="accent" save (click)="updateEvent()" *ngIf="editMode">save</button>
    </div>
</div>


